
/* navigations */


.navigation{
    width:30%; 
    height: 90dvh;
    border-radius: 20px;
    background-image: linear-gradient(160deg, var(--tra-bg), var(--lit-bg));
  border: 5px solid var(--secondary);
  /* flex: 1; */
}

  .dash-menu {
    width: 20%;
    padding: 1rem 1rem;
  }

  .menu-wallet-id{
    margin: auto;
    width: 50%;
    justify-content: center;
  }

  .menu-wallet-id .menu-avatar{
    width: 4rem; height: 4rem;
    margin-top: 20%;
    border: 5px solid var(--tra-bg);
    margin: auto;
    cursor: pointer;
    
  }

  .menu-wallet-id .menu-address{
    font-size: 15px;
    background-color: var(--tra-bg);
    width: 8vw;
    border-radius: 5px;
    text-align: center;
    padding-left: 10%;
  }
  
  .dash-list li{
    gap: 10px;
    list-style: none;
    color: #000;
    font-weight: 600;
    margin-top: 10%;
    
    /* background-color: #ffffff39;
    padding-left: 50%;
    width: 25vw; height: 5vh;
    border-radius: 10px;*/
    transition: 300ms;
    cursor: pointer; 
  }

  .dash-list li:hover{
  color: #606060;
  }
  
  .assets-overview {
    background-color: var(--secondary);
    padding: 1%;
    border-radius: 10px;
    padding-left: 5%;
    align-content: center;
    height: 25vh; width: 80%;
    margin: auto;
  }

  .assets-overview header{
    font-size: 20px;
    font-weight: 600;
  }

  .asset-header{
    display: flex;
    gap: 3%;
  }

  .eye-icon{
    margin-top: 1%;
  }

  .assets-overview div{
    width: 90%;
    margin-bottom:  5%;
  }

  .assets-overview p{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
  }

  .assets-overview samp{
    font-weight: 700;
    color: var(--abBlack);
  }

  .asset-total, .asset-amount{
font-size: 25px;
  }

.stake-total, .stake-amount{
  font-size: 20px;
}

  .social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10%;
  }
  
  .social-link  {
display: flex;
justify-content: center;
gap: 3%;
  }
  
  .copyright {
    text-align: center;
    font-size: 12px;
    color: var(--text);
  }
