
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: var(--myFont);
}

:root{
    --text:white;
    --myFont: "Urbanist", sans-serif;
}

button{
    cursor: pointer;
}



.landing_bg{
    background-image: url(src/assets/imgs/landing-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-content: center;
}

.lang_select{
    font-size: 20px;
    background-color: transparent;
    color: white;
    overflow: hidden;
    border: none;
}

.select_block{
    text-align: center;
}

.landing_logo_block{
text-align: center;
color: var(--text);
}

.landing_logo{
    width: 50vw;
}

.login_block{
    text-align: center;
    margin-top: 3%;
}

.login_block button{
    padding: 1vb;
    width: 10vw;
    margin: 0 1vw;
    background-color: #ededed5c;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    transition: 300ms;
}

.login_block button:hover{
    background-color: #f0f8ff87;
}



/* Responsive Styles */

@media (max-width: 768px) {
    .landing_logo {
        width: 45vw;
    }

    .logo_text{
        font-size: 18px;
    }

    .login_block{
        text-align: center;
        margin-top: 5%;
    }

    .login_block button {
        width: 20vw;
        padding: .8vb;
        font-size: 15px;
        border-radius: 10px;
    }

    .lang_select {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .landing_logo {
        width: 80vw;
    }

    .logo_text{
        font-size: 15px;
    }

    .login_block{
        text-align: center;
        margin-top: 10%;
    }

    .login_block button {
        width: 20vw;
        padding: 0.5vb;
        font-size: 13px;
        border-radius: 5px;
    }

    .lang_select {
        font-size: 13px;
    }
}