@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
body {
  /* background-color: #9099a9; */
  font-family: "Urbanist", sans-serif;
  align-content: center;
}

.withdraw-main {
  display: flex;
  justify-content: center;
  gap: 3%;
  width: 95%;
  margin: 2% auto;
}

.withdraw-sector {
  background-color: #c1cbe1;
  height: 90vh;
  width: 90%;
  border-radius: 20px;
}

.withdraw-sector form {
  width: 80%;
  margin: auto;
  padding-top: 5%;
}

.withdraw-main h3 {
  font-size: 30px;
  margin-bottom: 3%;
}

.from-block {
  background-color: #e8edf8;
  border-radius: 10px;
  padding: 1%;
  align-self: center;
  margin-top: 3%;
}

.from-block header {
  margin-left: 1%;
  font-size: 20px;
  font-weight: 400;
}

.from-block select {
  width: 100%;
  height: 8vh;
  border: none;
  background-color: transparent;
  outline: none;
  font-weight: 500;
}

.amount-block {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: #e8edf8;
  margin-top: 5%;
  align-items: center;
  border-radius: 15px;
  padding: 0 2%;
}

.amount-block input {
  height: 8vh;
  width: 85%;
  border: none;
  outline: none;
  background-color: transparent;
}

.convert-usdt {
  background-color: #e8edf8;
  display: flex;
  width: max-content;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 2%;
  padding: 0.3% 1%;
  align-items: center;
}

.convert-usdt header {
  background-color: #9099a9;
  width: 85px;
  text-align: center;
  border-radius: 30px;
  color: #e8edf8;
}

.convert-usdt span {
  display: block;
  padding: 2%;
  margin-left: 5%;
}

.action-block {
  text-align: right;
}

.action-block button {
  background-color: #e8edf8;
  border: none;
  padding: 1%;
  margin-left: 5%;
  margin-top: 5%;
  width: 15%;
  border-radius: 20px;
  font-weight: 500;
  font-size: 20px;
}
